* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.title {
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ffbb33;
}

#gameCanvas {
    border: 2px solid #fff;
    background-color: #111;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.score {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ffbb33;
}

.controls {
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
}

.controls p {
    margin: 5px 0;
}

.control-key {
    font-weight: bold;
    color: #ffbb33;
}